# Posttest 4

<pre>Nama  : Alif Maulana Setyawan
NIM   : 2109106002
Kelas : A1 Informatika 2021

### Import Library

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

### Info Data

In [2]:
data = pd.read_csv("ESport_Earnings.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IdNo                  504 non-null    int64
 1   TotalMoney            504 non-null    float64
 2   GameName              504 non-null    object
 3   Genre                 504 non-null    object
 4   PlayerNo              504 non-null    int64
 5   TournamentNo          504 non-null    int64
 6   Top_Country           504 non-null    object
 7   Top_Country_Earnings  504 non-null    float64
 8   Releaseyear           504 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 35.6+ KB

In [3]:
data.shape

(504, 9)

### Split Data 70:30

In [4]:
X = data.iloc[:, : -1]
y = data.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (352, 8)
Dimensi X_test (152, 8)
Dimensi y_train (352,)
Dimensi y_test (152,)

### Data Cleaning

In [5]:
data.isna().sum()

IdNo                    0
TotalMoney              0
GameName                0
Genre                   0
PlayerNo                0
TournamentNo            0
Top_Country             0
Top_Country_Earnings    0
Releaseyear             0
dtype: int64

##### Karena Data tidak ada yang bernilai null maka dibuat

In [6]:
# Untuk Menghilangkan SettingWithCopyWarning
pd.options.mode.chained_assignment = None

data.TotalMoney[[1,10,20,30,40,50,60,70,80,90,100]]=None;
data.PlayerNo[[1,10,20,30,40,50,60,70,80,90,100]]=None;
data.Genre[[1,10,20,30,40,50,60,70,80,90,100]]=None;

data[data.isnull().any(axis=1)]

,IdNo,TotalMoney,GameName,Genre,PlayerNo,TournamentNo,Top_Country,Top_Country_Earnings,Releaseyear
1,510,NaN,Age of Empires,None,NaN,95,Viet Nam,123408.43,1997
10,457,NaN,Aquapazza: Aquaplus Dream Match,None,NaN,2,United States,128.50,2011
20,553,NaN,Assetto Corsa,None,NaN,31,Czech Republic,68689.40,2014
30,248,NaN,Battlefield 3,None,NaN,7,Netherlands,1422.18,2011
40,456,NaN,BlazBlue: Central Fiction,None,NaN,38,Japan,54782.90,2015
50,551,NaN,Brawlout,None,NaN,0,None,0.00,2017
60,704,NaN,Call of Duty: Blackout,None,NaN,18,United States,429158.72,2018
70,195,NaN,Capcom vs. SNK 2,None,NaN,19,Japan,12814.00,2001
80,600,NaN,Company of Heroes 2,None,NaN,6,Germany,2801.86,2013
90,396,NaN,Crysis,None,NaN,2,None,0.00,2007
100,193,NaN,Dead or Alive Ultimate,None,NaN,1,Japan,15000.00,2004

##### Data Bilangan Bulat dengan Strategi Median

In [7]:
strategi1 = SimpleImputer(strategy="median")

data["PlayerNo"] = strategi1.fit_transform(data[["PlayerNo"]])

data.isna().sum()

IdNo                     0
TotalMoney              11
GameName                 0
Genre                   11
PlayerNo                 0
TournamentNo             0
Top_Country              0
Top_Country_Earnings     0
Releaseyear              0
dtype: int64

In [8]:
print(data.PlayerNo[[1,10,20,30,40,50,60,70,80,90,100]])

1      20.0
10     20.0
20     20.0
30     20.0
40     20.0
50     20.0
60     20.0
70     20.0
80     20.0
90     20.0
100    20.0
Name: PlayerNo, dtype: float64

##### Data Bilangan Desimal dengan Strategi Mean

In [9]:
strategi2 = SimpleImputer(strategy="mean")

data["TotalMoney"] = strategi2.fit_transform(data[["TotalMoney"]])

data.isna().sum()

IdNo                     0
TotalMoney               0
GameName                 0
Genre                   11
PlayerNo                 0
TournamentNo             0
Top_Country              0
Top_Country_Earnings     0
Releaseyear              0
dtype: int64

In [10]:
print(data.TotalMoney[[1,10,20,30,40,50,60,70,80,90,100]])

1      1.781295e+06
10     1.781295e+06
20     1.781295e+06
30     1.781295e+06
40     1.781295e+06
50     1.781295e+06
60     1.781295e+06
70     1.781295e+06
80     1.781295e+06
90     1.781295e+06
100    1.781295e+06
Name: TotalMoney, dtype: float64

##### Data Tulisan dengan Strategi Modus

In [11]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

data["Genre"] = strategi3.fit_transform(data[["Genre"]])

data.isna().sum()

IdNo                    0
TotalMoney              0
GameName                0
Genre                   0
PlayerNo                0
TournamentNo            0
Top_Country             0
Top_Country_Earnings    0
Releaseyear             0
dtype: int64

In [12]:
print(data.Genre[[1,10,20,30,40,50,60,70,80,90,100]])

1      Fighting Game
10     Fighting Game
20     Fighting Game
30     Fighting Game
40     Fighting Game
50     Fighting Game
60     Fighting Game
70     Fighting Game
80     Fighting Game
90     Fighting Game
100    Fighting Game
Name: Genre, dtype: object

### Data Duplikat

In [13]:
data[data.duplicated()]

print("Jumlah Data Duplikat : ")
data.duplicated().sum()

Jumlah Data Duplikat :

0

##### Karena Data tidak ada yang ganda maka dibuat

In [14]:
make_duplicated = pd.concat([data]*2, ignore_index=True)
make_duplicated.duplicated()

print("Jumlah data duplicated sekarang :")
make_duplicated.duplicated().sum()

Jumlah data duplicated sekarang :

504

In [15]:
make_duplicated.drop_duplicates(inplace=True)

hasil = make_duplicated.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

### Normalisasi Data

In [16]:
min_max = MinMaxScaler()

# Copy Data
copy1 = data
dataCopy_normalization = copy1[["TournamentNo"]]

normalization = min_max.fit_transform(dataCopy_normalization[["TournamentNo"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["TournamentNo_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["TournamentNo_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   TournamentNo  TournamentNo_Normalization
0             2                    0.000338
1            95                    0.016077
2           576                    0.097478
3            76                    0.012862
4             7                    0.001185
5             6                    0.001015
6             1                    0.000169
7             1                    0.000169
8             2                    0.000338
9           170                    0.028770

### Standarisasi Data

In [17]:
ssc = StandardScaler()

# Copy Data
copy2 = data
dataCopy_standarization = copy2.select_dtypes(include='number')

standarization = ssc.fit_transform(dataCopy_standarization)

data_standarization = pd.DataFrame(standarization)
data_standarization.columns = ["IdNo_Std", "TotalMoney_Std", "PlayerNo_Std", "TournamentNo_Std", "Top_Country_Earnings_Std", "Releaseyear_Std"]

print("Data Sebelum Scaling : ")
dataCopy_standarization.head(10)

Data Sebelum Scaling :

,IdNo,TotalMoney,PlayerNo,TournamentNo,Top_Country_Earnings,Releaseyear
0,613,3.100000e+02,6.0,2,310.00,2018
1,510,1.781295e+06,20.0,95,123408.43,1997
2,179,1.492490e+06,956.0,576,174252.44,1999
3,177,6.811385e+04,106.0,76,18523.52,2005
4,540,2.668000e+03,16.0,7,1264.00,2011
5,178,5.236000e+04,22.0,6,22000.00,2002
6,667,2.000000e+01,3.0,1,20.00,2007
7,246,4.000000e+04,1.0,1,40000.00,2001
8,702,1.100000e+04,5.0,2,10000.00,2018
9,566,4.273352e+06,1099.0,170,1825646.05,2019

In [18]:
print("Nilai standar deviasi : ")
np.std(dataCopy_standarization)

Nilai standar deviasi :

IdNo                    1.633026e+02
TotalMoney              1.267648e+07
PlayerNo                7.950614e+02
TournamentNo            4.120513e+02
Top_Country_Earnings    3.748076e+06
Releaseyear             8.926553e+01
dtype: float64

In [19]:
print("Data sesudah Scaling : ")
data_standarization.head(10)

Data sesudah Scaling :

,IdNo_Std,TotalMoney_Std,PlayerNo_Std,TournamentNo_Std,Top_Country_Earnings_Std,Releaseyear_Std
0,1.053429,-0.140495,-0.226258,-0.191107,-0.160288,0.123428
1,0.422699,0.000000,-0.208649,0.034593,-0.127445,-0.111825
2,-1.604213,-0.022783,0.968618,1.201923,-0.113880,-0.089420
3,-1.616460,-0.135146,-0.100481,-0.011518,-0.155429,-0.022205
4,0.606407,-0.140309,-0.213680,-0.178973,-0.160034,0.045010
5,-1.610337,-0.136389,-0.206134,-0.181400,-0.154501,-0.055813
6,1.384104,-0.140518,-0.230031,-0.193534,-0.160366,0.000200
7,-1.193932,-0.137364,-0.232547,-0.193534,-0.149699,-0.067015
8,1.598430,-0.139652,-0.227516,-0.191107,-0.157703,0.123428
9,0.765620,0.196589,1.148479,0.216609,0.326718,0.134630

In [20]:
print("Nilai standar deviasi : ")
np.std(data_standarization)

Nilai standar deviasi :

IdNo_Std                    1.0
TotalMoney_Std              1.0
PlayerNo_Std                1.0
TournamentNo_Std            1.0
Top_Country_Earnings_Std    1.0
Releaseyear_Std             1.0
dtype: float64

###  Ganti Tipe Data

In [21]:
print("Tipe data TournamentNo sebelum diubah :")
data["TournamentNo"].dtypes

Tipe data TournamentNo sebelum diubah :

dtype('int64')

In [22]:
ubah_dtype = data["TournamentNo"].astype("float")
print("Tipe data TournamentNo setelah diubah :")
ubah_dtype.dtypes

Tipe data TournamentNo setelah diubah :

dtype('float64')

###  One-Hot Encoding

In [23]:
one_hot = OneHotEncoder(sparse=False)

data_onehot = one_hot.fit_transform(data[["Genre"]])
df_onehot = pd.DataFrame(data_onehot)
df_oh = data[['Genre']].join(df_onehot)


df_oh.head(10)

                  Genre    0    1    2    3    4    5    6    7    8    9   10
0         Fighting Game  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1         Fighting Game  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2              Strategy  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3              Strategy  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4              Strategy  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5              Strategy  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6         Fighting Game  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7  First-Person Shooter  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8              Strategy  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
9         Battle Royale  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [24]:
data.head()

,IdNo,TotalMoney,GameName,Genre,PlayerNo,TournamentNo,Top_Country,Top_Country_Earnings,Releaseyear
0,613,3.100000e+02,Acceleration of SUGURI 2,Fighting Game,6.0,2,United States,310.00,2018
1,510,1.781295e+06,Age of Empires,Fighting Game,20.0,95,Viet Nam,123408.43,1997
2,179,1.492490e+06,Age of Empires II,Strategy,956.0,576,China,174252.44,1999
3,177,6.811385e+04,Age of Empires III,Strategy,106.0,76,United States,18523.52,2005
4,540,2.668000e+03,Age of Empires Online,Strategy,16.0,7,Germany,1264.00,2011